<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.carr.videopipeline</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>{{HOME}}/Movies/CARR Video Pipeline/Scripts/watch-encode.sh</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>{{HOME}}/Movies/CARR Video Pipeline/01_Drop_Horizontal</string>
        <string>{{HOME}}/Movies/CARR Video Pipeline/02_Drop_Vertical</string>
    </array>
    <key>ThrottleInterval</key>
    <integer>10</integer>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
