<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Umask</key><integer>63</integer>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>{{HOME}}/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
	</dict>
	<key>Label</key>
	<string>com.carr.headless.idea-resurface-monthly</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{REPO}}/bin/headless-task</string>
		<string>idea-resurface-monthly</string>
	</array>
	<key>StandardErrorPath</key>
	<string>{{REPO}}/out/headless/idea-resurface-monthly/launchd.log</string>
	<key>StandardOutPath</key>
	<string>{{REPO}}/out/headless/idea-resurface-monthly/launchd.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Day</key>
			<integer>5</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>6</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>7</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>8</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>9</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>10</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Day</key>
			<integer>11</integer>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>{{REPO}}</string>
</dict>
</plist>
